Options -Indexes

RewriteEngine on
RewriteRule ^wiki/(images|skins)/(.+)$ mediawiki/$1/$2 [L,QSA] # so skins and images work
RewriteRule \.(php|html|gif|jpg|png|css|js)$ - [L,QSA]
RewriteRule ^wiki/index.php?(.+)$ mediawiki/index.php?$1 [PT,L,QSA]
RewriteRule ^wiki$ mediawiki/index.php?title=Main_Page [L,QSA]
RewriteRule ^wiki/(.+)$ mediawiki/index.php?title=$1 [PT,L,QSA]

Redirect /feeds http://www.phplondon.org/phpfeeds-opml.xml
Redirect /prizedraw http://www.phplondon.org/monthlyprizedraw.php

RewriteCond   %{REQUEST_URI} !^/wiki(.*)
RewriteCond   %{REQUEST_URI} !^/mediawiki(.*)
RewriteRule  (.*) index.php?menu=$1 [L,QSA]
